body{
    font-family: 'Fira Sans', sans-serif;
    margin:0px;
}
h1{
    font-size:40px;
    
}
h2{
    font-size: 30px;

}
.orange{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom:;
}
.half-width{
    width:50%;
    padding:5%;
  

}
.half-width img{
    width:70%
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding:8px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
}

.top-banner{
background-image: url(images/top-banner.png);

}
.dream big{
    margin:5px;


}
.sister img{
width:70%;
padding:
}
.brother{
    width:110%;
    padding:0%;
}
.expriences{
    
    background-image: url(images/exp-bg.png);
    position: left;
    background-repeat: no-repeat;
    background-position:left
    ;
    border-top:150px;




}
.flexible-container{

}
.full{
    width:40%;
  padding-left: 5%;
    box-shadow: 5px 10px 40px gray;
    margin-left:5% ;
    margin-right:5%;
    border-radius: 10px;
    
   
}
#monu{
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left:10px solid;
}
#tunu{
    border-image:linear-gradient(tomato, purple);
    border-image-slice: 1;
    border-left:10px solid;
}
footer p{
    text-align: center;
}